@media (max-width:1100px) {
    .wrapper{
        flex-direction: column;
        justify-content: center ;
        margin-bottom: 43px;
    }
    .nav-li{
        display: none;
    }
    .div-window{
        width:65%;
    }
    .start-btn{
        margin: 10px;
    }
    .div-text{
        margin-top: 50px;
        margin-left: 0;
    }
    
}
@media(max-width:1040px){
    .div-window{
        width: 75%;
    }

}
@media(max-width:900px){
    .div-window{
        width: 85%;
    }
}
@media(max-width:800px){
    .div-window{
        width:76% ;
    }
}
@media(max-width:780px){
    .nav-ul{
        display: flex;
        flex-direction: column;
    }
    .menu{
        display: block;
        margin-right: 10px;
    }
    .nav{
        display: none;
    }
    .register-a{
     display: none;  
    } 
    .header-div{
        display: flex;
    }
    .nav.active{
        display: block;
    }
}
@media(max-width:600px){
    

 }

    

@media(max-width:535px){
    .div-window{
        width: 50%;
    }

    
    
}